<ul>
    <li><a href="/development">Main Page</a></li>
    <li><a href="/development/variables">Variables</a></li>
    <li><a href="/development/partials">Partials</a></li>
    <li><a href="/development/bootstrap">BootStrap</a></li>

    <li><a href="/development/test">Test Page</a></li>
</ul>