<div class="container-fluid footerBar">
    <div class="row">
        <div class="col-md-4">
                <a href="/">Home</a> <br>
                <a href="/about">About Uni Bites</a> <br>
                <a href="/contact">Contact Us</a> <br>
        </div>
        <div class="col-md-4">
                <a href="/careers">Careers</a> <br>
                <a href="/privacy-policy">Privacy Policy</a> <br>
        </div>
        <div class="col-md-4">
            <h3><!-- empty h3 for spacing issues --></h3>
                <a href="https://www.facebook.com/Uni-Bites-2463469143877653/?ref=page_internal" target="_blank" class="fa fa-facebook fa-3x"></a>
                <a href="https://twitter.com/BitesUni" target="_blank" class="fa fa-twitter fa-3x"></a>
                <a href="https://www.instagram.com/bitesuni" target="_blank" class="fa fa-instagram fa-3x"></a>
        </div>
    </div>
</div><!-- /container -->

<!-- COPYRIGHT (not in container so that bgcolor extends to whole screen)-->
<div class="row bgFooterCopyright">
    <div class="footerCopyright">
        &copy; Copyright Uni-Bites.com. All rights reserved.
    </div>
</div>


