{{!< no-header}}

<div class="container">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="headline centered">Uni-Bites</h1>
            <h3 class="title centered">About Us</h3>
        </div>
    </div>

    <div class="row">
        <div class="mt">
            <hr class="bar mt">
        </div>
    </div>

    <div class="row">
        <p class="centered paragraphLower">Uni-Bites is a web-app that compares, contrasts and presents the cafe and deli services on the NUI Galway campus in a format aimed to save students money, while supporting friendly and ethical business practices. We provide graphical tools for researching, collating, and viewing coffee, sandwich, and small snacks around campus. When college students save money, they save their future, and helping them means alot. Let's face it, it's not easy being a college student these days: drowning in debt, piles of academic work, endless work hours, societal pressures, learning to cook, and working on a small budget, but thats where Uni-Bites comes in.</p>
        <p class="centered paragraphLower">Our team of financial consultants, and modern college students work hard to help present the most reliable data and up-to-ate references about their experiences of the cafes and delis on the NUI Galway campus. This means you dont have to run around looking for the lowest price anymore.</p>
        <p class="centered paragraphLower">We know you will love using Uni-Bites too.</p>
    </div>
</div>