<div class="container">
		<div class="row mt left">
			<div class="col-lg-6">
                <h1>Smokey's Cafe</h1>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
			</div>
		</div>
        </div><!-- /container -->
	

		<! -- COFFEE IMAGE -->
        <div class="container">
        <div id="carousel">
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="images/Coffee.jpg" width="280" alt="">
				</div><!--/col-lg-4 -->
            
            <! -- SMOKEY'S IMAGE -->
			<div class="col-lg-4">
				<img src="images/Smokey's.jpg" width="280" alt="">
			</div><!--/col-lg-4 -->

            <! -- MUFFIN IMAGE -->
			<div class="col-lg-4">
				<img src="images/muffin.jpg" width="280" alt="">
			</div><!--/col-lg-4 -->
		     </div><!-- /row -->
            </div><!-- /carousel -->
            <div id="pager"></div>
         </div><!-- /container -->
	
	
	<! -- MENU HEADING -->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Menu</h1>
			</div>
		</div><!-- /row -->
        
        <! -- DRINKS -->
        <div class="container">
		<div class="row mt centered">
			<div class="col-lg-4">
				<p>Coffee : €1.20</p>
				</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<p>Tea : €1.00</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<p>Diet Coke : €1.10</p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><! --/container -->
        
        <! -- REVIEWS -->
        <div class="container">
            <div class="row mt left">
                <div class="col-lg-6">
                    <h1>Reviews</h1>
                    <p>Niamh Downey</p>
                    <p>"The blueberry muffins are to die for!"</p>
                </div>  
                <div class="col-lg-6">
                    <h1>Opening Hours:</h1>
                    <p>8.30a.m.-9p.m.</p>
                </div>  
            </div>
        </div><!-- /container -->
        
        
          <! -- MAP -->
        <div class="container">
            <div class="row mt left">
                <div class="col-lg-8 col-lg-offset-6">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.550089581624!2d-9.062390284348465!3d53.2796804874039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96f3c4d10eed%3A0x4c679f3aad43d0bd!2sSmokey&#39;s+Cafe!5e0!3m2!1sen!2sie!4v1518558866395" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>     
            </div>
        </div><!-- /container -->