<h2>FOOTER</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3 align="center">About</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About uni-bites</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 align="center">Discover</h3>
            <ul>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Tools</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 align="center">Social Media</h3>
        </div>
    </div>
</div>
