<div class="container">
    <!-- ABOUT DISCOVER SOCIAL MEDIA  -->
    <div class="row">
        <div class="col-sm-4">
            <h3>About</h3>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Uni Bites</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="#">Careers</a></li>
        </div>
        <div class="col-sm-4">
            <h3>Discover</h3>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Privacy Policy</a></li>
        </div>
        <div class="col-sm-4">
            <h3><!-- empty h3 for spacing issues --></h3>
                <a href="https://www.facebook.com/Uni-Bites-2463469143877653/?ref=page_internal" target="_blank" class="fa fa-facebook fa-3x"></a>
                <a href="https://twitter.com/BitesUni" target="_blank" class="fa fa-twitter fa-3x"></a>
                <a href="https://www.instagram.com/bitesuni" target="_blank" class="fa fa-instagram fa-3x"></a>
        </div>
    </div>
</div>s
    
<!-- COPYRIGHT (not in container so that bgcolor extends to whole screen)-->
<div class="row bgFooterCopyright">
    <div class="footerCopyright">
        &copy; Copyright Uni-Bites.com. All rights reserved.
    </div>
</div>


