<div id="headerwrap">
    <div class="container-fluid">

        <!-- Header image-->
        <div class="row centered backgroundimg">
            <div class="col-md-9 col-md-offset-3">

                <!-- Search Bar-->
                <div class="container">  
                    <div class="row">
                        <div class ="col col-md-8">   
                            <div class="input-group">
                                <input type="text" class="form-control search_bar" placeholder="Search" name="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default search_button" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>

        <!-- Reviews-->
        <div class="container">
            <div class="row mt centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Most Recent Reviews</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <form><div class="col col-sm-4">
                        <div class="form-group">

                            <textarea class="padding" rows="5" id="reviews"></textarea>

                        </div></div>
                        <div class="col col-sm-4">
                            <textarea class="padding" rows="5" id="reviews"></textarea>                         </div> 
                        <div class="col col-sm-4">                                     <textarea class="padding" rows="5" id="reviews"></textarea>
                        </div>

                    </form>
                </div>
            </div>

            <!-- Favourites-->
            <div class="container">
                <div class="row mt centered">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h1>Your Favourites</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <form><div class="col col-sm-4">
                            <div class="form-group">

                                <textarea class="padding" rows="5" id="reviews"></textarea>

                            </div></div>
                            <div class="col col-sm-4">
                                <textarea class="padding" rows="5" id="reviews"></textarea>                         </div> 
                            <div class="col col-sm-4">                                     <textarea class="padding" rows="5" id="reviews"></textarea>
                            </div>

                        </form>
                    </div>

                    <div class="row">
                        <form><div class="col col-sm-4">
                            <div class="form-group">

                                <textarea class="padding" rows="5" id="reviews"></textarea>

                            </div></div>
                            <div class="col col-sm-4">
                                <textarea class="padding" rows="5" id="reviews"></textarea>                         </div> 
                            <div class="col col-sm-4">                                     <textarea class="padding" rows="5" id="reviews"></textarea>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- Sponsors-->
                <div class="container">
                    <div class="row mt centered">
                        <div class="col-lg-6 col-lg-offset-3">
                            <h1>Sponsors</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="images/sult.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="images/smokeys.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="images/wall.jpg" alt="">
                                </a>
                            </div></div>



