<div id="headerwrap  main-color">
    <div class="container-fluid">

        <!-- Header image-->
        <div class="row centered backgroundimg">
            <div class="col-md-9 col-md-offset-3">

                <!-- Search Bar-->
                <div class="container">
                    <div class="row">
                        <div class ="col col-md-8">
                            <div class="input-group" id="searchbar">
                                <input type="text" autocomplete="off" class="live-search-box form-control search_bar dropdown-toggle" data-toggle="dropdown" placeholder="Search" name="search">
                                <ul class="dropdown-menu live-search-list">
                                    <li><a href="#">Coffee</a></li>
                                    <li><a href="#">Tea</a></li>
                                    <li><a href="#">Sandwiches</a></li>
                                    <li><a href="#">Hot Chocolate</a></li>
                                    <li><a href="#">Breakfast</a></li>
                                    <li><a href="#">Lunch</a></li>
                                    <li><a href="#">Dinner</a></li>
                                    <li><a href="#">Snacks</a></li>
                                </ul>

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg pull-left search_button">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div></div>

        <!-- Reviews-->
        <div class="container">

            <div class="row mt">

                <div class="col-lg-6">
                    <h1 class="headline alignText">Most Recent Reviews</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-xs-3 toRight">
                    <h1 class="headlineLower">Johnny Appleseed</h1>
                    <p class="captionLower">Lorem ipsum...</p>
                </div>

                <div class="col-xs-1"></div>

                <div class="col-xs-3 toRight">
                    <h1 class="headlineLower">Johnny Appleseed</h1>
                    <p class="captionLower">Lorem ipsum...</p>
                </div>

                <div class="col-xs-1"></div>

                <div class="col-xs-3 toRight">
                    <h1 class="headlineLower">Johnny Appleseed</h1>
                    <p class="captionLower">Lorem ipsum...</p>
                </div>
            </div>

        </div>

    </div>

    <!-- Favourites-->
    <div class="wrap">
        <div class="container">
            <div class="row mt">

                <a href="/">
                    <div class="col-xs-3 quickBox">
                        <p class="titleLower">Cheapest Coffee</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/">
                    <div class="col-xs-3 quickBox">
                        <p class="titleLower">Cheapest Tea</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/">
                    <div class="col-xs-3 quickBox">
                        <p class="titleLower">Cheapest Hot Chocolate</p>
                    </div>
                </a>

            </div>

            <div class="row mt">

                <a href="/">
                    <div class="col-xs-3 quickBox">
                        <p class="titleLower">Best Scones</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/">
                    <div class="col-xs-3 quickBox">
                        <p class="titleLower">Best Hoagies</p>
                    </div>
                </a>

                <div class="col-xs-1"></div>

                <a href="/">
                    <div class="col-xs-3 quickBox">
                        <p class="titleLower">Best Service</p>
                    </div>
                </a>

            </div>

        </div>
    </div>

    <!-- Sponsors-->
    <div class="container">
        <div class="row mt">
            <div class="col-lg-6">
                <h1 class="headline">Our Sponsors</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/sult.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/smokeys.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="images/wall.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>