	<div class="container">
		<div class="row mt left">
			<div class="col-lg-6 ">
                <h1>Smokey's Cafe</h1>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
			</div>
		</div>
	

		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="images/Coffee.jpg" width="280" alt="">
				</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/Smokey's.jpg" width="280" alt="">
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/muffin.jpg" width="280" alt="">
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	<! -- MENU HEADING -->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Menu</h1>
			</div>
		</div><!-- /row -->
        
        <! -- DRINKS -->
        <div class="container">
		<div class="row mt centered">
			<div class="col-lg-4">
				<p>Coffee : €1.20</p>
				</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<p>Tea : €1.00</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<p>Diet Coke : €1.10</p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><! --/container -->
	

	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->