<div id="headerwrap  main-color">
    <div class="container-fluid">

        <!-- Header image-->
        <div class="row centered backgroundimg">
            <div class="col-md-9 col-md-offset-3">

                <!-- Search Bar-->
                <div class="container">  
                    <div class="row">
                        <div class ="col col-md-8">   
                            <div class="input-group" id="searchbar">                 <input type="text" autocomplete="off" class="live-search-box form-control search_bar dropdown-toggle" data-toggle="dropdown"  placeholder="Search" name="search">
                                <ul class="dropdown-menu live-search-list">
                                    <li><a href="#">Coffee</a></li>
                                    <li><a href="#">Tea</a></li>
                                    <li><a href="#">Sandwiches</a></li>
                                    <li><a href="#">Hot Chocolate</a></li>
                                    <li><a href="#">Breakfast</a></li>
                                    <li><a href="#">Lunch</a></li>
                                    <li><a href="#">Dinner</a></li>
                                    <li><a href="#">Snacks</a></li>
                                </ul>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg pull-left search_button">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div></div>

        <!-- Reviews-->
        <div class="container">
            <div class="row mt centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Most Recent Reviews</h1>
                    <div class="row col-sm-10 col-sm-offset-1">
                        <button type="button" class="btn btn-primary" id="btn-count">
                            Reviews <span class="badge badge-light" id="count">0</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <form><div class="col-xs-4">
                        <textarea class="form-control form-width" id = "review1" rows="5" type = "text"></textarea>

                        </div>
                        <div class="col-xs-4">
                            <textarea class="form-control form-width" id = "review2" rows="5" type = "text"></textarea>

                        </div>
                        <div class="col-xs-4">
                            <textarea class="form-control form-width" id = "review3" rows="5" type = "text"></textarea>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- Favourites-->
        <div class="wrap">
            <div class="container">
                <div class="row mt centered">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h1>Your Favourites</h1>
                        <h7>An up to date guide of the best prices on campus</h7>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group row">
                        <form><div class="col-xs-4">
                            <label class="style_label">Coffee</label> 
                            <textarea class="form-control form-width" id = "cheapest_coffee" rows="5" type = "text"></textarea>

                            </div>
                            <div class="col-xs-4">
                                <label class="style_label">Tea</label>
                                <textarea class="form-control form-width" id = "cheapest_tea" rows="5" type = "text"></textarea>

                            </div>
                            <div class="col-xs-4">
                                <label class="style_label">Hot Chocolate</label>
                                <textarea class="form-control form-width" id = "cheapest_hot_chocolate" rows="5" type = "text"></textarea>

                            </div>

                        </form>
                    </div>

                    <div class="form-group row">
                        <form><div class="col-xs-4">
                            <label class="style_label">Scones</label>
                            <textarea class="form-control form-width" id = "best_scones" rows="5" type = "text"></textarea>

                            </div>
                            <div class="col-xs-4">
                                <label class="style_label">Sandwiches</label>
                                <textarea class="form-control form-width" id = "cheapest_sandwich" rows="5" type = "text"></textarea>

                            </div>
                            <div class="col-xs-4">
                                <label class="style_label">Best Service</label>
                                <textarea class="form-control form-width" id = "best_service" rows="5" type = "text"></textarea>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sponsors-->
        <div class="container">
            <div class="row mt centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Sponsors</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="images/sult.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="images/smokeys.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="images/wall.jpg" alt="">
                        </a>
                    </div></div>



