<div class="pageWrapper">
  <div class="row mt centered loginArea">
    <div class="col-md-9 col-md-offset-3">

        <!--FormBox-->
        <div class="col-sm-8 loginBox">
            <div class="form-header formHeadBox">
                <h2 class="form-signin-heading headerTitle">Please Sign In</h2>
            </div>

            <form  id="log-form" name="log-form" class="form-signin form-horizontal" role="form" method="POST">

                <!-- Username/Email -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-10">
                            <label for="inputUsername" class="control-label leftInputHeader">Username</label>
                            <input type="text" class="form-control input-lg required inputField" id="userName" name="userName" placeholder="Username">
                        </div>
                    </div>
                </div>

                <!--Password-->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-10">
                            <label for="inputPassword" class="control-label leftInputHeader">Password</label>
                            <input type="password" class="form-control input-lg required inputField" id="inputPassword" name="inputPassword" placeholder="Password">
                        </div>
                    </div>
                </div>

                <!--Button-->
                <div class="form-group">
                    <div class="col-sm-10 mt col-sm-offset-1">
                        <button type="submit" class="btn btn-lg btn-block signInButton">Sign in</button>
                    </div>
                </div>
            </form>
            <a href="/register" class="toRegister">Need an account? Register here.</a>
        </div>
    </div>
</div>