<div class="container">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="headline centered">Uni-Bites</h1>
            <h3 class="title centered">Our Story</h3>
        </div>
    </div>

    <div class="row">
        <div class="mt">
            <hr class="bar mt">
        </div>
    </div>

    <div class="row">
        <p class="centered">Uni-bites is</p>
    </div>
</div>