<div class="pageWrapper">
  <div class="row mt centered loginArea">
    <div class="col-md-9 col-md-offset-3">

        <!--FormBox-->
        <div class="col-sm-8 registerBox">
            <div class="form-header formHeadBox">
                <h2 class="form-signin-heading headerTitle">Register</h2>
            </div>

            <form  id="reg-form" name="reg-form" class="form-signin form-horizontal" role="form" method="POST">

                <!-- Name -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-10">
                            <label for="inputUsername" class="control-label leftInputHeader">Username</label>
                            <input type="text" class="form-control input-lg required inputField" id="inputUsername" name="inputUsername" placeholder="Username">
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-10">
                            <label for="inputEmail" class="control-label leftInputHeader">Email</label>
                            <input type="text" class="form-control input-lg required inputField" id="inputEmail" name="inputEmail" placeholder="E-mail">
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-10">
                            <label for="inputPassword" class="control-label leftInputHeader">Password</label>
                            <input type="password" class="form-control input-lg required inputField" id="inputPassword" name="inputPassword" placeholder="Password">
                        </div>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="col-sm-10">
                            <label for="inputConfirmPassword" class="control-label leftInputHeader">Confirm Password</label>
                            <input type="password" class="form-control input-lg required inputField" id="inputConfirmPassword" name="inputConfirmPassword" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>

                <!--Button-->
                <div class="form-group">
                    <div class="col-sm-10 mt col-sm-offset-1">
                        <button type="submit" class="btn btn-lg btn-block signInButton">Register</button>
                    </div>
                </div>
            </form>
            <a href="/login" class="toLogin">Have an account? Login here.</a>
        </div>
    </div>
</div>