<div class="container">
    <div id="searchResults">
    <div class="row mt">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="headline centered">Uni-Bites</h1>
            <h3 class="title centered">Search Results</h3>
        </div>
    </div>

    <div class="row">
        <div class="mt">
            <hr class="bar mt">
        </div>
    </div>

    <div class="row spacing">
        <div class="col-sm-8">
            <h1>Coffee</h1>
            <h3> An Bialann </h3>
        </div>
    </div>
    </div>
</div>