#heading{
    font-family: roboto;
    font-size: 75px;
    color: #f2994a;
}

.menu-heading{
    font-family: roboto;
    font-size: 50;
    color: #f2994a;
    padding-top: 35px;
}

.menu-body {
    padding-top: 10px;
    
}
 
.menu-section {
  margin-bottom: 10px; 
}
 
.menu-section-title {
  font-family: roboto;
  font-size: 35px;
  display: block;
  font-weight:normal;
  color: #994af2; 
  margin: 20px 0; 
  text-align: Center;
}
 
.menu-item {
  margin: 35px 0;
  font-size: 18px;
}
 
.menu-item-name{
  font-family: lato;
  font-weight: bold;
  border-bottom: 2px dotted #2d9cdb;
}
 
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: lato;
  margin-top: -22px;
}