.loginArea {
    background-image: url("../images/Food/fish.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: 4%;
}

.loginBox {
    margin-top: 14%;
    border-radius: 5px;
    padding: 0px;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.formHeadBox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F2994A;
    padding: 10px;
    margin-bottom: 20px;
}

.headerTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
}

.signInButton {
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    background-color: #F2994A;
    color: white;
}

.signInButton:hover {
    background-color: #EF7E1A;
    color: white;
}