body {
    height: 100vh;
    width: 100vw;
}

.loginArea {
    background-image: url("../images/Food/fish.jpg");
    height: 100vh;
}

.loginBox {
    border-radius: 5px;
    padding: 0px;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.formHeadBox {
    background-color: orange;
    padding: 20px;
}

.headerTitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
}

.signInButton {
    background-color: #2D9CDB;
    color: white;
}

.leftInputHeader {
    display: block;
    text-align: left !important;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}