.logoBox {
    padding: 15px;
}

.navigation {
    padding: 30px;
    background-color: transparent;
}
.navigation.alt-color {
    background-color: #F2944A;
}

.navLinks li a {
    font-family: "Roboto", sans-serif;
}

.navLinks:last-child {
    margin-right: 50px !important;
}

.specialButton {
    border: 3px solid #F2944A;
    border-radius: 5px;
    font-weight: 700;
}

.specialButton:hover {
    background-color: #F2944A;
}

ul.nav a:hover {
     background-color: #F2944A !important;
}
