/* Buttons */

/* Inputs */

.leftInputHeader {
    display: block;
    text-align: left !important;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.inputField {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #4AA3F2;
}

.inputField:active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
