/* Buttons */

/* Inputs */

.inputField {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #2D9CDB;
}

.inputField:active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Text */

    /* Roboto */

.headline {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: medium;
}

.subHeader {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.paragraph {
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.caption {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

    /* Lato */

.headlineLower {
    font-family: "Lato", sans-serif;
    font-size: 36px;
}

.titleLower {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: medium;
}

.paragraphLower {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: medium;
}

.captionLower {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* Elements */

.bar {
    height: 7px;
    border: none;
    display: block;
    width: 70%;
    margin: auto;
    background-color: #2D9CDB;
}